doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-4')
          block sidebar
            h3="API Home"
             a(href='/qiswap/api/v1/')
            h4="A. Spot Exchanges"
            ul(class='sidebar-nav')
              li
                a(href='/qiswap/api/v1/pairs') /pairs
              li
                a(href='/qiswap/api/v1/tickers') /tickers
              li
                a(href='/qiswap/api/v1/historical') /historical
            h4="B. Derivative Exchanges"
            ul(class='sidebar-nav')
              li /contracts                
              li /contract_specs                
              li /order_books
            h4="C. Earn - platforms"
            ul(class='sidebar-nav')
              li /assets                
            h4="D. Yield Farming - Pools"
            ul(class='sidebar-nav')
              li /pools                

        div(class='col-sm-4')
          block content